.ipynb_checkpoints/
../.ipynb_checkpoints/
 __pycache__/
 ../Old/.ipynb_checkpoints/
.ipynb_checkpoints/
simulations/__pycache__/
model_selection/__pycache__
kernel_methods/__pycache__/
matrix_algorithms/__pycache__/
trend_filtering/__pycache__/
profiling/__pycache__/
.vscode/
trend_filtering/mlruns/
trend_filtering/data/
prior_models/__pycache__
../evaluation_metrics/__pycache__/loss_functions.cpython-310.pyc
evaluation_metrics/__pycache__/
