# General
.ipynb_checkpoints/
../.ipynb_checkpoints/
 __pycache__/
.vscode/

# Evaluation metrics
../evaluation_metrics/__pycache__/loss_functions.cpython-310.pyc
evaluation_metrics/__pycache__/

# Estimators
estimators/splines/__pycache__
estimators/splines/helpers/__pycache__
estimators/regression/__pycache__
estimators/__pycache__
estimators/trend_filtering/helpers/__pycache__
estimators/regression/helpers/__pycache__
estimators/kernels/__pycache__
estimators/trend_filtering/__pycache__

# Basis
basis/__pycache__

# Model Selection
model_selection/__pycache__
model_selection/helpers/__pycache__

# Simulation
simulations/__pycache__/
simulations/helpers/__pycache__/

# Prior Models
prior_models/__pycache__